{{>partials/header}}
    <h1>Qual seu nome?</h1>
    <form method="GET">
        <input type="text" name="nome" placeholder="Digite seu nome" />

        <input type="submit" value="Enviar" />
    </form>    

    <hr />

    {{#nome}}
        Opa {{nome}} tudo bem?
        Opa {{idade}} tudo bem?
    {{/nome}}
{{>partials/footer}}